.swiper {
  width: 100%;
  height: 635px;
  margin-top: 80px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 375px) {
  .swiper {
    width: 100%;
    height: 422px;
    margin-top: 60px;
  }

  .swiper-slide img {
    width: 370px;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 2560px) {
  .swiper {
    width: 2560px;
    height: 850px;
    margin-top: 140px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
