.wood {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 40px;
  margin: 30px;
  gap: 20px;
  height: 800px;
}

.wood h1 {
  margin-top: 100px;
  margin-right: 20px;
  padding: 10px;
  text-align: right;
  color: rgb(30, 41, 100);
}
