.ch {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin: 30px;
  gap: 20px;
  height: 600px;
}
.ch1 {
  width: 250px;
  height: 200px;
  border: 5px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(229, 230, 236);
  padding: 10px;
  text-align: center;
}

.ch1 img {
  height: 150px;
  width: 200px;
  border-radius: 20px;
  text-align: center;
}
.c h1 {
  margin-top: 100px;
  margin-right: 20px;
  padding: 10px;
  text-align: right;
  color: rgb(30, 41, 100);
}
.ch1 button:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.ch1 h3 {
  color: rgb(20, 134, 64);
  padding-right: 80px;
  margin-top: 10px;
}

.ch1 del {
  color: red;
  padding-right: 10px;
}
