.arshev {
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 200px 200px;
  align-items: center;
  justify-items: center;
  padding: 60px;
  gap: 50px;
  background-color: #e8f0f3;
}
.A img {
  height: 250px;
  width: 450px;
  padding: 10px;
  margin-right: 350px;
}
.A img:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 375px) {
  .arshev {
    height: 300px;
    width: 320px;
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 120px 120px;
    align-items: center;
    justify-items: center;
    padding: 35px;
    gap: 0px;
    background-color: #e8f0f3;
  }
  .A img {
    height: 100px;
    width: 100px;
    padding: 0px;
    margin-right: 0px;
  }
  .A img:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 2560px) {
  .arshev {
    height: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 900px 900px;
    grid-template-rows: 350px 350px;
    align-items: center;
    justify-items: center;
    padding: 80px;
    gap: 30px;
    background-color: #e8f0f3;
  }
  .A img {
    height: 350px;
    width: 900px;
    padding: 5px;
    margin-right: 500px;
  }
  .A img:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  }
}
