.comment {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-columns: 600px 600px;

  border-radius: 5px;
  background-color: #e8f0f3;
  margin: 5px;
  padding: 40px;
  gap: 10px;
}

.comment div {
  background-color: rgb(176, 212, 201);
  height: 100px;
  width: 600px;
  padding: 30px;
  border-radius: 20px;
}
.user {
  height: 20px;
  width: 20px;
}
.user img {
  height: 20px;
  width: 20px;
}

@media (max-width: 375px) {
  .comment {
    display: grid;
    grid-template-columns: 300px;
    grid-template-columns: 100px;
    border-radius: 5px;
    background-color: #e8f0f3;
    margin: 5px;
    padding: 5px;
    gap: 10px;
  }

  .comment div {
    background-color: rgb(176, 212, 201);
    height: 60px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
  }
  .user {
    height: 20px;
    width: 20px;
  }
  .user img {
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 2560px) {
  .comment {
    display: grid;
    grid-template-columns: 1200px 1200px;
    grid-template-columns: 1000px 1000px;

    border-radius: 5px;
    background-color: #e8f0f3;
    margin: 5px;
    padding: 40px;
    gap: 40px;
  }

  .comment div {
    background-color: rgb(176, 212, 201);
    height: 150px;
    width: 1000px;
    padding: 30px;
    border-radius: 20px;
    font-size: 30px;
  }
  .user {
    height: 20px;
    width: 20px;
  }
  .user img {
    height: 20px;
    width: 20px;
  }
}
