.footer {
  height: 300px;
  width: 100%;
  background-color: #06323f;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.a {
  width: 400px;
  color: white;
  font-size: 16px;
  white-space: pre-wrap;
}

.b {
  color: rgb(188, 229, 240);
  font-size: 18px;
  padding: 50px;
}

@media (max-width: 320px) {
  .footer {
    height: 120px;
    width: 100%;
    background-color: #06323f;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .a {
    width: 150px;
    color: white;
    font-size: 12px;
    white-space: pre-wrap;
  }

  .b {
    color: rgb(188, 229, 240);
    font-size: 12px;
    padding: 0px;
  }
}

@media (min-width: 2560px) {
  .footer {
    height: 400px;
    width: 100%;
    background-color: #06323f;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 300px;
  }

  .a {
    width: 800px;
    color: white;
    font-size: 29px;
    white-space: pre-wrap;
  }

  .b {
    color: rgb(188, 229, 240);
    font-size: 32px;
    padding: 50px;
  }
}
