.K {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin-top: 80px;
}

.All {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}

.filter {
  height: 350px;
  width: 280px;
  display: grid;
  border-radius: 20px;
  background-color: rgb(140, 185, 187);
  padding: 50px;
  margin: 20px;
  font-size: 18px;
}

.filter input {
  width: 350px;
}
