.ch {
  width: 280px;
  height: 300px;
  border: 5px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(229, 230, 236);
  padding: 10px;
  text-align: center;
}

.ch img {
  height: 180px;
  width: 230px;
  border-radius: 20px;
  text-align: center;
}
.ch h1 {
  margin-top: 200px;
  margin-right: 20px;
  padding: 10px;
  text-align: right;
  color: rgb(30, 41, 100);
}
.ch button:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.ch h3 {
  color: rgb(0, 0, 0);
  padding-left: 90px;
  margin-top: 10px;
}

.ch p {
  color: green;
  margin-top: 20px;
  margin-right: 50px;
  
}

.ch del {
  color: red;
  padding-right: 10px;
}
