* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;
  background-color: #06323f;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #50e3fd;
  font-size: 24px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {
  color: #00bcd4;
}

.menu {
  width: 250px;
  border: 1px;
  background-color: #036685;
  display: block;
}
