* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;
  background-color: #06323f;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #50e3fd;
  font-size: 24px;
  font-weight: bold;
}
.nav ul {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {
  color: #69d7e6;
}

.ulmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 10px;
  margin: 10px;
  width: 100px;
  border: 10px;
  background-color: #0c3c44;
  z-index: 100%;
  position: fixed;
}

summary {
  color: rgb(255, 255, 255);
}

.menu a {
  color: black;
}

button {
  height: 30px;
  width: 50px;
  background-color: #2fcadf;
}



@media (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #06323f;
    position: fixed;
    top: 0px;
    z-index: 1000;
    margin-right: 0px;
  }

  .logo {
    color: #50e3fd;
    font-size: 12px;
    font-weight: bold;
  }
  .nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 10px;
  }

  .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
  }

  .nav a:hover {
    color: #69d7e6;
  }

  .ulmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 2px;
    margin: 0px;
    width: 50px;
    border: 3px;
    background-color: #0c3c44;
    z-index: 100%;
    position: fixed;
  }

  summary {
    color: rgb(255, 255, 255);
    font-size: 11px;
  }

  .menu a {
    color: black;
  }

  button {
    height: 18px;
    width: 40px;
    background-color: #2fcadf;
  }
}

@media (min-width: 2560px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    width: 2560px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
    background-color: #06323f;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin-right: 0px;
  }

  .logo {
    color: #50e3fd;
    font-size: 45px;
    font-weight: bold;
  }
  .nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 50px;
  }

  .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 35px;
  }

  .nav a:hover {
    color: #69d7e6;
  }

  .ulmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 20px;
    margin: 30px;
    width: 200px;
    border: 10px;
    background-color: #0c3c44;
    z-index: 100%;
    position: fixed;
  }

  summary {
    color: rgb(255, 255, 255);
    font-size: 32px;
  }

  .menu a {
    color: black;
  }

  button {
    height: 60px;
    width: 90px;
    background-color: #2fcadf;
    font-size: 32px;
  }
}
