.backdrop {
  position: fixed;
  background: rgba(169, 162, 238, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop button {
  width: 140px;
  height: 35px;
  margin: 25px;
  background-color: green;
  font-size: 18px;
  margin-right: 350px;
}
