.card {
  width: 260px;
  background: #fff;
  border-radius: 14px;
  padding: 22px;
  margin: 22px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 100%;
  height: 120px;
  overflow: hidden;
  border-radius: 10px;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 14px;
  margin: 10px 0 6px;
  color: #333;
  height: 36px;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
  color: #02180a;
}

@media (max-width: 370px) {
  .card {
    width: 150px;
    background: #fff;
    border-radius: 14px;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.08);
  }

  .card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  }

  .card-image {
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
  }

  .card-image img {
    width: 100%;
    height: 100%;
  }

  .card-title {
    font-size: 10px;
    margin: 15px 0 6px;
    color: #333;
    height: 36px;
  }

  .card-price {
    font-size: 13px;
    font-weight: bold;
    color: #02180a;
    margin-top: -20px;
  }
}

@media (min-width: 2560px) {
  .card {
    width: 460px;
    background: #fff;
    border-radius: 14px;
    padding: 22px;
    margin: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }

  .card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  }

  .card-image {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 10px;
  }

  .card-image img {
    width: 100%;
    height: 100%;
  }

  .card-title {
    font-size: 20px;
    margin: 10px 0 6px;
    color: #333;
    height: 36px;
  }

  .card-price {
    font-size: 30px;
    font-weight: bold;
    color: #02180a;
  }
}
