.about {
  background-color: rgb(200, 255, 255);
  display: flex;
  align-content: center;
  justify-content: center;
  height: 712px;
  padding: 50px;
}

.Description {
  text-align: center;
  width: 670px;
  margin: 80px;
}
.Description p {
  font-size: 25px;
  color: rgb(9, 37, 70);
  padding: 20px;
}

.imgDescription {
  width: 570px;
  align-items: center;
  margin: 20px;
  margin-right: 80px;
  padding: 50px;
}

.imgDescription img {
  height: 220px;
  width: 320px;
  border-radius: 40px;
  margin: 20px;
}
